<h1>Sobre mi</h1>
<hr>
<p>Juan Ignacio Delgado Alemany (Granadilla de Abona, Tenerife, 2 de diciembre de 1973), más conocido como Ignatius Farray, es un cómico, escritor, monologuista, actor, guionista y cantante español, ganador del Premio Ondas y nominado al Emmy en 2018. <br>
Según cuenta él mismo, su nombre artístico se compone de «Ignatius», mote con que le llamaba su profesor de música en el instituto por ser el personaje del libro La conjura de los necios de John Kennedy Toole, y «Farray», por el segundo apellido de su padre que lo utilizaba como piloto de rally amateur que era. <br>
Se licenció en Ciencias de la Información por la Universidad Complutense de Madrid. Tras un par de años en Londres, se familiarizó con el estilo de “Comedy Club” para luego regresar a Tenerife, donde comenzó sus primeros pasos en la comedia con monólogos humorísticos. Estos tenían diversas influencias, como el humor de Faemino y Cansado o varios cómicos norteamericanos como Richard Pryor, Steve Martin, Andy Kaufman y Lenny Bruce, llegando a ser comparado con alguno de ellos. <br>
Ha sido diagnosticado de miocardiopatía hipertrófica.</p>