<h1 class="center">Ignatius Farray</h1>
<h3 class="center">ALL RIIIIIIGHT!!</h3>

<img clas="main-img" src="https://s3-eu-west-1.amazonaws.com/beta.lagenda/styles/image1000x1000/s3/programacion/ignatius_0.jpg?itok=aaPN90EI" alt="Mr. Farray">