<h1>Galería de fotos</h1>

<div class="container">

<div class="row">

<div class="col-md-4">
    <img src="https://fotos02.noticiasdenavarra.com/2021/01/22/690x278/ignatius-farray.jpg" alt="ignatius farray">
</div>
<div class="col-md-4">
    <img src="https://www.hola.com/imagenes/actualidad/20220118203038/ignatius-farray-vuelve-tras-baja-psiquiatrica-por-ansiedad/1-41-168/ignatius-gtres-t.jpg?filter=w600" alt="ignatius farray">
</div>
<div class="col-md-4">
    <img src="https://estaticos-cdn.elperiodico.com/clip/57b7262c-2dff-424f-bc18-b9c16cf9cd83_alta-libre-aspect-ratio_default_0.jpg" alt="ignatius farray">
</div>

</div>

<div class="row marg-bot">
    
<div class="col-md-4">
    <img src="https://as01.epimg.net/epik/imagenes/2018/10/16/portada/1539689433_886947_1539689583_noticia_normal.jpg" alt="ignatius farray">
</div>
<div class="col-md-4">
    <img src="https://pbs.twimg.com/media/Dp4ieU2XQAA_ROe.jpg" alt="ignatius farray">
</div>
<div class="col-md-4">
    <img src="https://i1.wp.com/revista.lamardeonuba.es/wp-content/uploads/2018/09/Ignatius-Farray.jpg?resize=678%2C381" alt="ignatius farray">
</div>

</div>



</div>